:root {
  --clr-background: #121212;
  --clr-grey-light: #B7B7B7;
  --clr-blue-light-accent: #8AA3C5;
  --clr-title: white;
  --clr-icons: white;
  --clr-menu-icon: white;
  --clr-navbar-fixed: white;
  --clr-navbar-links: black;
  --clr-project-background: rgba(138, 163, 197, 0.15);
  --clr-project-tag-background: rgba(138, 163, 197, 0.25);
  --clr-project-tag-background-desktop: rgba(138, 163, 197, 0.15);
  --clr-project-tag-text: #8AA3C5;
  --clr-project-title: white;
  --clr-project-description: #B7B7B7;
  --clr-project-description-desktop: #B7B7B7;
  --clr-project-icons: white;
  --clr-project-icons-desktop: white;
  --base-padding: 5%;
  --transition: all 0.3s linear; }

:root.light-theme {
  --clr-background: white;
  --clr-grey-light: #4a4a4a;
  --clr-blue-light-accent: #8AA3C5;
  --clr-title: black;
  --clr-icons: black;
  --clr-navbar-fixed: #121212;
  --clr-menu-icon: black;
  --clr-navbar-links: white;
  --clr-project-background: #121212;
  --clr-project-tag-background: white;
  --clr-project-tag-background-desktop: rgba(138, 163, 197, 1);
  --clr-project-tag-text: black;
  --clr-project-tag-text-desktop: white;
  --clr-project-title: black;
  --clr-project-title-desktop: white;
  --clr-project-description: black;
  --clr-project-description-desktop: #B7B7B7;
  --clr-project-icons: black;
  --clr-project-icons-desktop: white; }

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 2vw;
  scroll-behavior: smooth; }

body {
  font-family: 'Fira Code', monospace;
  background: var(--clr-background);
  color: var(--clr-grey-light);
  line-height: 1.5;
  font-size: 0.875rem; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }
  a :hover {
    cursor: pointer; }

button {
  text-decoration: none; }

img:not(.header-icon, .logo) {
  width: 100%; }

img {
  display: block; }

h1,
h2,
h3,
h4 {
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  font-weight: 300;
  color: var(--clr-title); }

h1 {
  font-size: 3.5rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 2rem; }

p {
  font-size: 2rem;
  margin-bottom: 1.25rem;
  color: var(--clr-grey-light);
  font-weight: 300; }

@media screen and (min-width: 780px) {
  h1 {
    font-size: 1.25rem; }
  h2 {
    font-size: 1.1rem; }
  h3 {
    font-size: 1rem; }
  h4 {
    font-size: 0.9rem; }
  body {
    font-size: 0.75rem; }
  p {
    font-size: 0.6rem;
    margin-bottom: 0.75rem; }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1; } }

.header {
  height: auto;
  padding: 10px 5%; }

.nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.header-icon {
  height: 40px;
  color: var(--clr-menu-icon); }

.logo {
  height: 60px; }

.menu-btn {
  background: transparent;
  border-color: transparent; }

.menu-btn:hover {
  cursor: pointer; }

.logo-btn {
  background: transparent;
  border-color: transparent; }

.logo-btn:hover {
  cursor: pointer;
  opacity: 0.3; }

.nav-links {
  display: none;
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  padding: 10px 5%; }

.show-links {
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  height: auto;
  background-color: var(--clr-navbar-fixed);
  animation: ease-in 3s linear; }

.show-links p {
  color: var(--clr-navbar-links); }

.resume-btn {
  width: auto;
  border: 2px solid var(--clr-blue-light-accent);
  border-radius: 7px;
  color: var(--clr-blue-light-accent);
  font-weight: 300;
  padding: 1rem;
  font-size: 2rem; }

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--clr-navbar-fixed);
  z-index: 100; }

.fixed-nav p {
  color: var(--clr-navbar-links); }

@media screen and (min-width: 780px) {
  .menu-btn {
    display: none; }
  .scroll-container {
    display: none; }
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3vh;
    padding: 35px 3%; }
  .nav-links {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; }
  .nav-link:not(:last-child) {
    margin-right: 3rem; }
  .nav-link p {
    font-size: 0.5rem;
    margin-bottom: 0; }
  .nav-link p:hover {
    cursor: pointer;
    opacity: 0.3; }
  .resume-btn {
    height: 100%;
    border: 2px solid var(--clr-blue-light-accent);
    border-radius: 7px;
    color: var(--clr-blue-light-accent);
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    padding: 0.25rem 0.5rem; }
  .resume-btn:hover {
    animation: square-btn-animation 0.3s linear forwards; }
  .scroll-container {
    display: none; } }

.main-container {
  padding: 0 var(--base-padding); }

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20vh;
  height: 70vh; }

.reach-me-btn {
  height: 9rem;
  width: 20rem;
  border: 2px solid var(--clr-blue-light-accent);
  border-radius: 5px;
  color: var(--clr-blue-light-accent);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem; }
  .reach-me-btn:hover {
    animation: square-btn-animation 0.3s linear forwards; }

.title {
  margin-bottom: 5rem; }

.title-position {
  color: var(--clr-grey-light);
  font-weight: 400; }

.title-description {
  margin-bottom: 5rem; }

.scroll-container {
  width: 90vw;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }

.scroll-gesture-img {
  position: absolute;
  height: 40px;
  animation: scroll-gesture 3s infinite linear; }

@keyframes scroll-gesture {
  0%, 100% {
    bottom: 0; }
  50% {
    bottom: 100px; } }

.intro-image-logo {
  display: none; }

@media screen and (min-width: 780px) {
  .main-container {
    padding: 0 10%; }
  .intro-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    height: 95vh;
    padding-top: 5%; }
  .reach-me-btn {
    height: 3rem;
    width: 7rem;
    border: 2px solid var(--clr-blue-light-accent);
    border-radius: 10px;
    color: var(--clr-blue-light-accent);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem; }
  .title {
    margin-bottom: 1.5rem; }
  .title h1 {
    font-weight: 500;
    margin-bottom: 10px; }
  .title-description {
    margin-bottom: 1.5rem; }
  .intro-section {
    display: flex;
    flex-direction: row; }
  .intro-data {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: flex-start;
    justify-content: center; }
  .intro-image-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; }
  .scroll-container {
    display: none; } }

.about-section {
  height: auto;
  margin-bottom: 10rem; }

.about-me-title {
  margin-bottom: 5rem; }

.about-text {
  text-align: justify; }

.tech-scroll-horizontal {
  height: 150px;
  width: 90vw;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-top: 3rem; }
  .tech-scroll-horizontal img {
    height: 100%; }
    .tech-scroll-horizontal img:not(:last-child) {
      margin-right: 1rem; }

@media screen and (min-width: 780px) {
  .about-section {
    height: 100vh;
    margin: 0; }
  .about-me-title {
    margin-bottom: 1rem; }
  .tech-scroll-horizontal {
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: auto;
    margin-top: 1rem; } }

.projects-section {
  height: auto;
  margin-bottom: 10rem; }

.projects-title {
  margin-bottom: 5rem; }

.project {
  position: relative;
  height: 300px; }
  .project img {
    height: 100%;
    width: 100%;
    opacity: 0.3; }
  .project.project:not(:last-child) {
    margin-bottom: 3rem; }

.project-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem; }
  .project-header img {
    height: 40px;
    width: auto; }

.project-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; }
  .project-data img {
    opacity: 1; }

.project-title {
  color: var(--clr-project-title); }

.project-icons {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .project-icons i:hover {
    opacity: 0.3;
    cursor: pointer; }
  .project-icons i:nth-child(1) {
    margin-right: 15px; }

.project-icons i:hover {
  opacity: 0.3;
  cursor: pointer; }

.project-icons i:nth-child(1) {
  margin-right: 15px; }

.project-icon {
  color: var(--clr-project-icons); }

.project-desc {
  text-align: justify;
  color: var(--clr-project-description); }

.project-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; }

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: auto;
  background-color: var(--clr-project-tag-background);
  border-radius: 2rem;
  padding: 0 1rem; }
  .tag p {
    margin: 0;
    color: var(--clr-project-tag-text);
    opacity: 1; }
  .tag:not(:last-child) {
    margin-right: 1rem; }

@media screen and (min-width: 780px) {
  .projects-section {
    height: auto;
    margin-bottom: 3rem; }
  .projects-container {
    padding: 0 5%; }
  .projects-title {
    margin-bottom: 2rem; }
  .project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    background-color: var(--clr-project-background);
    border-radius: 1rem; }
  .project:not(:last-child) {
    margin-bottom: 1rem; }
  .project img {
    opacity: 1;
    flex: 1;
    flex-shrink: 2;
    width: initial; }
  .project-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0; }
  .project-data {
    flex: 2;
    position: initial;
    display: flex;
    transform: initial;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    flex-shrink: 1; }
  .project-data p {
    font-size: 0.5rem; }
  .project-desc {
    margin: 0;
    color: var(--clr-project-description-desktop); }
  .project-title {
    color: var(--clr-project-title-desktop); }
  .project-icon {
    color: var(--clr-project-icons-desktop); }
  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.2rem;
    width: auto;
    background-color: var(--clr-project-tag-background-desktop);
    border-radius: 2rem;
    padding: 0 1rem; }
  .tag p {
    color: var(--clr-project-tag-text-desktop); }
  .tag:not(:last-child) {
    margin-right: 0.5rem; }
  .more-btn {
    height: 3rem;
    width: 7rem;
    border: 2px solid var(--clr-blue-light-accent);
    border-radius: 10px;
    color: var(--clr-blue-light-accent);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem; }
  .btn-container {
    margin: 1rem 0 0 0; } }

@media screen and (min-width: 1200px) {
  .contact-section {
    padding-top: 5rem; } }

@media screen and (min-width: 480px) and (max-width: 800px) {
  .project {
    position: relative;
    height: 550px; } }

books-section {
  height: auto;
  margin-bottom: 10rem; }

.books-header {
  margin-bottom: 3rem; }
  .books-header h1 {
    margin-bottom: 1rem; }

.book-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5rem; }

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .book img {
    width: 100%;
    margin-bottom: 1rem; }
  .book:not(:last-child) {
    margin-bottom: 3rem; }

.book-description {
  text-align: center; }

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3rem 0; }

.more-btn {
  height: 9rem;
  width: 20rem;
  border: 2px solid var(--clr-blue-light-accent);
  border-radius: 5px;
  color: var(--clr-blue-light-accent);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem; }
  .more-btn :hover {
    animation: square-btn-animation 0.3s linear forwards; }

@keyframes square-btn-animation {
  0% {
    background-color: transparent;
    color: var(--clr-blue-light-accent); }
  100% {
    background-color: var(--clr-blue-light-accent);
    color: black; } }

@media screen and (min-width: 780px) {
  #books-btn-more {
    display: none; }
  .books-section {
    margin-bottom: 3rem; }
  .books-header {
    margin-bottom: 2rem; }
  .books-header h1 {
    margin-bottom: 0.5rem; }
  .book-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 400px;
    width: initial; }
  .book:not(:last-child) {
    margin-right: 1rem;
    margin-bottom: 0; }
  .book img {
    display: block;
    max-width: 230px;
    max-height: 250px;
    width: auto;
    height: auto; }
  .book-description h3 {
    font-size: 0.5rem;
    font-weight: 500; } }

.contact-section {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 15rem; }
  .contact-section h1 {
    margin-bottom: 1rem; }
  .contact-section p {
    text-align: center;
    margin-bottom: 3rem; }

.footer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem; }
  .social-icons a:hover {
    cursor: pointer;
    opacity: 0.3; }
  .social-icons img {
    max-height: 40px;
    width: auto; }
  .social-icons > *:not(:last-child) {
    padding-right: 2rem; }

@media screen and (min-width: 780px) {
  .contact-section {
    padding-top: 5rem; } }

.sidebar-btn {
  color: var(--clr-icons); }
  .sidebar-btn:hover {
    cursor: pointer;
    opacity: 0.3; }

.right-side-email {
  display: none; }

.container {
  display: grid;
  grid-template-rows: auto 1fr auto; }

@media screen and (min-width: 780px) {
  .social-icons {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .social-icons a {
    align-items: center; }
  .social-icons a:hover {
    cursor: pointer;
    opacity: 0.3; }
  .social-icons img {
    max-height: 40px;
    width: auto; }
  .social-icons > *:not(:last-child) {
    padding-bottom: 1rem;
    padding-right: 0; }
  .right-side-email {
    display: initial;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(30%, -50%) rotate(90deg); }
  .right-side-email a p:hover {
    cursor: pointer;
    opacity: 0.3; } }
